{% extends "words/layout.html" %}
{% load static %}

{% block script %}
{% endblock %}

{% block body %}
    <br><br>
    <h1 style="text-align: left;">LOCAL HOST:</h1> <br>
    <h4 style="text-align: left;">What is wordcounter.space:</h4>

    <div class="whatISit">
    In short: service that allows you to conduct your own research in the field of the most used words of any language
    (easily and for free)
    <hr>

    In detail: when you learn a new language, you will inevitably face the problem of choosing the words that you need to learn
    <br>
    <br>
    According to google:
    <br>
    There are more than a million English words
    <br>
    about 170 000 words in current use
    <br>
    and 20 000 - 30 000 words used by each individual person
    <br>
    <br>
    In fact, it is enough to know 7000 words to be fluent in the language.
    <br>
    So, the problem is how to get the list of these 7000 words<br>

    In addition, about 20% of these 7000 words = 1400 words are used in 50% of all everyday conversations.
    <br>
    <br>
    I'm sure you've seen these "must-know" dictionaries.<br>
    But who did them?<br>
    Can you trust these random researchers?<br>
    Absolutely not!<br>
    We are all different, and we use different vocabulary<br>
    <br>

    So this site allow you to make your own dictionary of words<br>
    and learn important words first
    </div>

    <br>





{% endblock body %}