{% extends "words/layout.html" %}
{% load static %}

{% block title %}
    Query by txt file
{% endblock title%}

{% block body %}
    <br><br><br>
    <div class="container" style="width:1100px;">    
        <div class="whatISit" style="padding:30px;">
        {{ message }}
        
        <p><a href="{% url 'query' %}">Query via form</a> / Query via .txt file</p>    
        <hr>
            <form action="{% url 'query_txt' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ query_txt_form.as_p }}
                <input class="btn btn-primary mt-2" type="submit" value="submit query">
            </form>
        </div>
    </div>

{% endblock body %}